html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body>#bouncebox{
  flex: 1;
}

#bouncebox{
	text-align:center;
	overflow:hidden;
}