<!DOCTYPE html>
<html>
<head>
  <title>Bienfromage Projects by Year</title>
  <meta charset="utf-8"/>
  <meta name="description" content="bienfromage projects documented by year"/>
  <meta name="keywords" content="bienfromage,github,projects">
  <meta name="author" content="Adam Traweek">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Bienfromage Projects by Year"/>
  <meta property="og:description" content="See programming projects by bienfromage!"/>
  <meta property="og:image" content="assets/images/favicon.ico"/>
  <meta property="og:url" content="https://bienfromage.github.io"/>
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="assets/styles/styles.css"/>
  <link rel="stylesheet" type="text/css" href="assets/styles/projects-list-styles.css"/>
  <script src="assets/scripts/dropdownmenu.js"></script>
</head>
<body>
  <div class ="menu">
    <a href="https://bienfromage.github.io"><img src="assets/images/favicon.ico" alt="favicon" class="home-icon"/></a>
    <div class="menu-item-dropdown" onclick="openMenu(this)">
      Projects by Year
      <div class="dropdown">
        <a class="dropdown-link" href="2016">
          2016
        </a>
        <a class="dropdown-link" href="2017">
          2017
        </a>
        <a class="dropdown-link" href="2018">
          2018
        </a>
      </div>
    </div>
    <a class="menu-item">About</a>
  </div>
  
  <!--Menu template ends here, begin page specific content-->
  
</body>
</html>